.awesome {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
}
.awesome-content__article {
  font-family: Open Sans;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  height: 100px;
  margin: 0px;
}

.awesome-content__description {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.awesome-content__column {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: calc(100% / 3 - 30px);
}

.awesome-content {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;

}

.awesome-content__image {
  max-width: 200px;
}
