.customers {
  margin-top: 50px;
}
.customers-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100%;

}

.customers-item {
  width: calc(100% / 3 - 30px);
}
.customers-name {
  font-family: Open Sans;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}

.customers-postiton {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.customers-comment {
  position: relative;
  font-family: Raleway;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  background: #e2e2e2;
  border-radius: 5px;
  padding: 37px;
  margin-bottom: 66px;
}

.customers-comment::after {
  content: "";
  position: absolute;
  left: 5%;
  top: 100%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e2e2e2;
  clear: both;
  z-index: auto;
}
.customers-profile {
  display: flex;
  gap: 10px;
}
