.social {
  background-color: #f8efef;
  object-fit: cover;
  width: 100%;
}

.social-text__article {
  font-family: Open Sans;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  max-width: 470px;
}

.social-text__paragraph {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  max-width: 470px;
  color: #86878b;
}

.social-icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.social-icons__item {
  max-width: 30px;
  max-height: 30px;
}

.social-icons__item:hover {
  fill: #ec7979;
  transition: 0.7s;
}
