.tabs {
  position: relative;

}
.buttons__item {
  padding: 0;
  margin-top: 50px;
}

.tabs-header__list {
  position: relative;
  display: flex;
  gap: 200px;
  top: 0;
  left: 15px;
  width: 100%;
  display: flex;
  justify-content: start;
  margin: 0;
  padding: 0;
  
}

.tabs-header__button {
  position: absolute;
  padding: 7px 82px;
  background: transparent;
  color: grey;
  border: transparent;
  cursor: pointer;
  font-family: Open Sans;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  z-index: 100;
  }


.tabs-header__button--active {
  color: grey;
  background-color: white(255, 0, 0, 0.212);
  border: 1px solid #c6cbcd;
  border-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid white;
}

.tabs-content {
  border: #c6cbcd 1px solid;
  display: flex;
  max-width: 100%;
  margin-top:34px;

}

.tabs-content__text {
  text-align: left;
  padding: 25px;
}
.tabs-content__header {
  margin-bottom: 60px;
  font-family: Open Sans;
  font-size: 2rem;
  font-weight: 700;
}
.tabs-content__paragraph {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 27px;
}

.tabs-content__button {
  height: 58px;
  width: 270px;
  background: #ec7979;
  color: white;
  font-size: 1rem;
  border-color: transparent;
  cursor: pointer;
}

.tabs-content__button:hover {
  background: #df6464;
  transition: 0.7s;
}

.tabs-content__button:active {
  background: #b64545;
  transition: 0.7s;
}
